* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
html {
    scroll-behavior: smooth;
}
a,
a:visited {
    text-decoration: none;
    color: #000000;
}
button {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}
/* body {
    width: 800px;
} */
body.dark {
    background-color: rgb(56, 56, 56);
    color: white;
}
.container {
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
}
.header {
    background-color: #f5f5f5;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 90%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
}

.navbar_item a {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    color: #000000;
}
.navbar__list {
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.switch-btn {
    display: inline-block;
    width: 62px; /* ширина переключателя */
    height: 24px; /* высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 36px; /* высота кнопки */
    width: 36px; /* ширина кнопки */
    border-radius: 18px; /* радиус кнопки */
    background: #fff; /* цвет кнопки */
    top: -6px; /* положение кнопки по вертикали относительно основы */
    left: -6px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
}
.switch-on::after {
    left: 30px;
    background: black;
}
.main-title {
    font-family: "Times New Roman", Times, serif;
    margin-top: 150px;
    font-style: normal;
    font-size: 35px;
    line-height: 46px;
}

.cards {
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.card {
    margin-top: 80px;
    width: 400px;
    background: rgba(165, 179, 196, 0.13);
    border-radius: 30px;
}
.card-img {
    width: 400px;
    height: 250px;
}

.card-title {
    margin-left: 20px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 46px;
    opacity: 70%;
}

.card-date {
    margin-left: 20px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 46px;
    opacity: 70%;
}

.card-btn {
    margin-top: 10px;
    margin-left: 20px;
    background: #2685fb;
    border-radius: 30px;
    margin-bottom: 60px;
    padding: 8px 52px 8px 52px;

    font-style: normal;
    font-weight: 200;
    font-size: 23px;
    line-height: 36px;
}

.btn-up.active {
    opacity: 1;
    position: fixed;
    background-color: #7a7676;
    opacity: 40%;
    right: 50px;
    bottom: 50px;
    border-radius: 100%;
    cursor: pointer;
    width: 80px;
    height: 80px;
}
.btn-up:hover {
    background-color: #575454;
}
.btn-up.active::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 43px;
    height: 44px;
    left: 20px;
    top: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}
.link {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.list {
    display: flex;
    gap: 50px;
}
.list_item {
    margin-left: 20px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 46px;
    opacity: 70%;
}
.list-a.dark{
    color: #fff;
}

/* Модальное окно */
/* Стили модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed; /* Фиксированная позиция */
    z-index: 1; /* Перекрывает остальной контент */
    left: 0;
    top: 0;
    width: 100%; /* Занимает всю ширину экрана */
    height: 100%; /* Занимает всю высоту экрана */
    overflow: auto; /* Добавляет прокрутку, если содержимое не помещается */
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный цвет фона */
}

/* Стили содержимого модального окна */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Центрируем по вертикали и горизонтали */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Задаем ширину */
}

/* Стили кнопки закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Контент */

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
form.dark{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #302f2f;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

input[type="number"] {
    margin-bottom: 10px;
    height: 30px;
}

textarea {
    height: 100px;
}

textarea {
    width: 100%;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background: #2685fb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    margin-top: 30px;
    background-color: #ccc;
    margin-left: 10px;
}
.color {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
